<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color:#E8DCD0; ">

            <!-- Sidebar - Brand -->
                <h4 style="padding-top: 35px; text-align:center">MY ACCOUNT</h4>


            <!-- Divider -->
            <hr>

            <li class="nav-item"  >
                <a class="nav-link " style="left:15px; color:black; font-weight:bold;" href="/user/profile">
                   PROFILE</a>
            </li>

            <!-- Divider -->
            <hr>
                  <li class="nav-item"  >
                <a class="nav-link " style="left:15px; color:black; font-weight:bold;" href="/user/order">
                   ORDER</a>
            </li>


            <hr>
                  <li class="nav-item"  >
                <a class="nav-link " style="left:15px; color:black; font-weight:bold;" href="">
                   VOUCHER</a>
            </li>

            <hr>
                  <li class="nav-item"  >
                <a class="nav-link " style="left:15px; color:black; font-weight:bold;" href="/quiz/listQuizzes">
                   PERSONALISATION</a>
            </li>





        </ul>
        <!-- End of Sidebar -->







</body>

</html>