<section class="p-5 p-lg-0 pt-lg-5 text-left text-sm-start" id="home">
	<div class="container">
		<div class="d-sm-flex align-items-center justify-content-between">
			<div>
				<h1 class="landing-page">Take Healing To The<span class="text-color"> Next Level.</span></h1>
				<p class="lead my-4 ">
					Take our simple quiz to get a daily TCM pack tailored to your goals, lifestyle and diet. Packs start at under
					SG$0.9/day. Monthly deliveries. Adjust anytime.
				</p>
				<button type="button" class="btn btn-lg btn-landing" data-bs-toggle="modal" data-bs-target="#">
					Start Quiz
				</button>
			</div>
			<img class="img-fluid d-none d-sm-block" src='img/landing-page.png' title='' />
		</div>
	</div>
</section>

<section>
	<h2 class="text-center mb-5">What We Do</h2>
	<p class="lead my-4 text-center">
		Take our simple quiz to get a daily TCM pack tailored to your goals, lifestyle and diet. Packs start at under
		SG$0.9/day. Monthly deliveries. Adjust anytime.
	</p>
	<div>
		<div class="card-deck">
			<div class="card" style="text-align: center;">
				<i class="fa-solid fa-head-side-brain"></i>
				<div class="card-body">
					<h5 class="card-title">Know Yourself</h5>
					<p class="card-text">
						Take a online accessment on your lifestyle, health and health goals
					</p>
				</div>
			</div>
			<div class="card" style="text-align: center;">
				<i class="fa-solid fa-capsules fa-10x"></i>
				<div class="card-body">
					<h5 class="card-title">See Your Pack</h5>
					<p class="card-text">
						Get a list of recommended TCM based on your online accessment
					</p>
				</div>
			</div>
			<div class="card" style="text-align: center;">
				<i class="fa-regular fa-timer"></i>
				<div class="card-body">
					<h5 class="card-title">Continue Monthly/h5>
					<p class="card-text">
						Subscribe to our monthly deliveries. Adjust anytime.
					</p>
				</div>
				<i class="fa-solid fa-timer"></i>
			</div>
		</div>
	</div>
</section>

<div class="container full-page mt-5 text-center mb-5">
	<h2>Get 20% Off your <br> first order now!</h2>
	<form>
		<div class="form-group left">
			<input type="email" class="form-control" placeholder="name@example.com">
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
				else.</small>
		</div>
		<div class="form-group right ml-2">
			<button type="submit" class="btn btn-primary custom-button">Submit</button>
		</div>
	</form>
</div>