body {
    text-align: center;
} */

.answers label {
    /* display: block; */
    margin-bottom: 10px;
}

button {
    font-size: 22px;
    color: rgb(0, 0, 0);
    background-color: #8BAD97;
    border: 10px;
    border-radius: 45px;
    padding: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.previous {
    margin-right: 750px;
    
}

button:hover {
    background-color: #bdd4c5;;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

section.quiz {
    background-image: url("/img/account-page.png");
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: 0% 0%; */
    background-position: center;
    top: 50%;
    left: 50%;
    padding: 100px;
}

.question {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
}

.option {
    line-height: 1.5;
    font-size: 24px;
}

#border {
    border: 2px solid #E8DCD0;
    border-radius: 15px;
    background-color: #E8DCD0;
    width: 500px;
    height: 50px;
    display: inline-block;
}

input[type="radio"] {
    appearance: none;
}

input[type="radio"]{
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    line-height: 20px;
}

input[type="radio"]::before {
    content: "";
    display: inline-block;
    width: 20px;
    aspect-ratio: 1;
    border: 1px solid #000000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    opacity: 1;
    transition: all 0.3s;
}

input[type="radio"]::after {
    content: "";
    display: inline-block;
    width: 10px;
    aspect-ratio: 1;
    border: 1px solid #8BAD97;
    background: #8BAD97;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.3s;
}

input[type="radio"]:checked::after {
    opacity: 1;
}



