.logo{
  width:130px;
  margin:auto;
}

/* Modify the background color + text colour*/
.navbar{
  background-color: #F1EDE5;
  font-family: 'Poppins';
}

/* Modify Nav bar hover effect */
.navbar a {
  display: inline-block;
  position: relative;
  color: #000000;
}

.navbar a:hover {
  color: #000000;
}

.navbar a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* landing page first item */
@media(min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

.landing-page {
  font-family: 'Libre Baskerville';
  font-style: italic;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
}

.text-color {
  color: #ffaa00;
}

h2 {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
}

.curved-div {
  background: rgba(152, 152, 191, 0.5);
  color: #FFF;
  text-align: center;
}

.curved-div h1 {
  font-size: 6rem;
  margin-top: 0;
}

.curved-div p {
  font-size: 1rem;
  margin-top: 0 5rem 0 5rem;
}

.curved-div svg {
  display: block;
}

.curved.upper {
  background: #F1EDE5;
}