<div class="row">
    {{!-- <div class="col-md-6 mx-auto"> --}}
        <div class="card card-body" style="background:#E8DCD0;">
            <a href="/user/profile" style="color: black ;float:left; padding-left:40px; font-size:large"><u> <i
                        class="fa-solid fa-chevron-left"></i>Back</u></a>

            <img class="logo" src="/img/logo.png">
            <h3 class="text-center">RESET PASSWORD</h3>
            <form action="" method="post">
                <div>
                    <div class="form-group clear cenform">
                        <label for="password2">New Password</label>
                        <input type="password" name="password2" class="form-control" value="" required>
                    </div>

                    <div class="form-group clear cenform">
                        <label for="password3">Confirm New Password</label>
                        <input type="password" name="password3" class="form-control" value="" required>                        
                    </div>

                    <div class="centered clear">
                        <button type="submit" class="accountbtn">RESET PASSWORD</button>
                    </div>
                </div>
            </form>
            {{!--
        </div> --}}
    </div>
</div>