<section class="section-content padding-y">
    <div class="container">
        <div class="col-sm-6" style="float:left;">
                    <a class="btn btn-secondary" href="/catalogue">
                        <span class="fa-solid fa-circle-arrow-left"></span> BACK </a>
                </div>
        <h2>Please Choose the Order you want to pay:</h2>
    </div>
</section>