<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="display-4">Add Newsletter</h1>
                    <form method="POST" action="/newsletter/addNewsletter">

                        <div class="form-group">
                            <label for="newsletterName">Newsletter Name</label>
                            <input class="form-control" type="text" id="newsletterName" name="newsletterName" required />
                        </div>

                        <div class="form-group">
                            <label for="category">Category</label>
                            <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="promotion" value="Promotion" name="category">
                                <label class="form-check-label" for="promotion">Promotion</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="event" value="Event" name="category">
                                <label class="form-check-label" for="event">Event</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="informational" value="Informational" name="category">
                                <label class="form-check-label" for="informational">Informational</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="other" value="Others" name="category">
                                <label class="form-check-label" for="other">Others</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="content">HTML Content</label>
                            <input class="form-control" type="text" id="summernote" name="content" required />
                        </div>

                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <button class="btn btn-sm btn-primary" id="btn-get-content">Get Content</button>
                                <button class="btn btn-sm btn-primary" id="btn-get-text">Get Text</button>
                                <button class="btn btn-sm btn-success" id="btn-set-content">Set Content</button>
                                <button class="btn btn-sm btn-danger" id="btn-reset">Reset</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="status">File Upload</label>
                            <div class="col-lg-3">
                                <div class="custom-file mb-2">
                                    <input type="file" class="custom-file-input" id="posterUpload" name="posterUpload"
                                        accept="image/png,image/jpeg,image/jpg,image/gif">
                                    <label class="custom-file-label" for="customFile">Choose File</label>
                                </div>
                                <div class="text-danger small mb-2" id="posterErr" style="display:none"></div>
                                <img id="poster" src="/img/no-image.jpg" alt="Poster" class="border img-thumbnail img-fluid">
                                {{!—- Hidden field to submit URL of poster to the server --}}
                                <input id="posterURL" type="hidden" name="posterURL">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="status">Status</label>
                            <br>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="draft" value="Draft" name="status">
                                <label class="form-check-label" for="draft">Draft</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="completed" value="Completed" name="status">
                                <label class="form-check-label" for="completed">Completed</label>
                            </div>
                        </div>

                        <hr>

                        <div class="form-group">
                            <label for="createdBy">Created By/ Modified By</label>
                            <input class="form-control" type="text" id="createdBy" name="createdBy" required />
                        </div>
                                            
                        
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </form>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>

    <script>

        $(document).ready(function () {
                $('#summernote').summernote(
                   {
                        placeholder: 'Hello stand alone ui',
                        tabsize: 2,
                        height: 120,
                        toolbar: [
                            ['style', ['style']],
                            ['font', ['bold', 'underline', 'clear']],
                            ['color', ['color']],
                            ['para', ['ul', 'ol', 'paragraph']],
                            ['table', ['table']],
                            ['insert', ['link', 'picture', 'video']],
                            ['view', ['fullscreen', 'codeview', 'help']]
                        ]
                    } 
                );
            });
    </script>

</body>