<div class="container">
    <body>
        <div class="card text-center">
            <div class="card-header">
                Newsletter Subscription
            </div>
            <div class="card-body">
                <h1 class="card-title">{{card_title}}</h1>
                <p class="card-text">{{message}}</p>
                <a href={{link}} class="btn btn-subscribe">{{button}}</a>
            </div>
        </div>
    </body>
</div>

<link rel="stylesheet" href="/css/style.css">
