<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body" style="border-radius: 60px ; top: 20px; right:40px;">
            <img class="logo" src="/img/logo.png">
            <h3 class="text-center" style="padding-top: 15px;">Book a service</h3>
            <form action="" method="post">
                <div>
                    <div class="form-group left spacing1">
                        <label class="font-italic" for="name">Name</label>
						<input class="form-control" id="name" name="name" onblur="initialiseName()" required />
                    </div>
                    <div class="form-group left spacing2">
                    	<label class="font-italic">Date</label>
                        <input id="datepicker" width="200" name="dateRelease" required/>
                    </div>
                    <div class="form-group left spacing1">
                        <label class="font-italic" for="email">Email</label>
                        <input class="form-control" id="email" name="email" type="email" required />
                    </div>
                    <div class="form-group left spacing2">
                        <label class="font-italic" for="contactno">Contact No.</label>
						<input class="form-control" id="contactno" name="contactno" type="text" required />
                    </div>

                    <div class="form-group clear left spacing1">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="consultation" value="consultation" name="service">
							<label class="form-check-label" for="consultation">Consultation</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="cupping" value="cupping" name="service">
							<label class="form-check-label" for="cupping">Cupping</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="acupuncture" value="acupuncture" name="service">
							<label class="form-check-label" for="acupuncture">Acupuncture</label>
						</div>                    
					</div>
                <div class=" centered clear" style="padding-top:25px;">
                    <button type="submit" class="staffbtn" >Book Service</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
	$('#datepicker').datepicker({
		format: 'dd/mm/yyyy',
		uiLibrary: 'bootstrap4',
		value: moment().format('DD/MM/YYYY'),
	});
</script>