<link rel="stylesheet" href="./css/quiz.css">

{{!-- <div class="wrapper">
    
        <h2 class="form-signin-heading">Name your quiz</h2>
        <input type="text" class="form-control" name="quizName" placeholder="Chantalle's Headache Remedy" required="" autofocus="" id="quizName"/>
        <button class="btn btn-lg btn-primary btn-block" onclick="myquizName()">Submit</button>
</div>

<p id="demo"></p>

<h1>Quiz on Important Facts</h1>
<div class="quiz-container">
    <div id="quiz"></div>
</div>
<button id="previous">Previous Question</button>
<button id="next">Next Question</button>
<button id="submit">Submit Quiz</button>
<div id="results"></div>

<script>
    //show name
    function myquizName() {
        var x = document.getElementById("quizName").value;
        document.getElementById("demo").innerHTML = x;
    }
</script> --}}

<body>

    <div class="quiz-container">
        <div class="title">Personalization Quiz</div>

        <div id="question" class="question"></div>
        <p id="totalQuestions"></p>

        <label class="option" id="border">
            <input type="radio" name="option" value="1" />
            <span class="option1"></span>
        </label>
        <br>
        <label class="option" id="border">
            <input type="radio" name="option" value="2" />
            <span class="option2"></span>
        </label>
        <br>
        <label class="option" id="border">
            <input type="radio" name="option" value="3" />
            <span class="option3"></span>
        </label>
        <!-- Buttons -->
        <div class="controls">
            <button class="previous">Previous</button>
            <button class="next">Next</button>
        </div>
    </div>

    <div class="result">

    </div>
</body>

<script src="./js/common.js"></script>
<script>
    const blehh = questions.length;
    document.getElementById("totalQuestions").innerHTML = blehh;
</script>