<p>{{quizzes.area}}</p>

{{#comparison quizzes.area "immunity"}}
<p>immunity med</p>
{{/comparison}}

{{#comparison quizzes.area "stress"}}
<p>stress med</p>
{{/comparison}}

{{#comparison quizzes.area "hair"}}
<p>hair med</p>
{{/comparison}}
