<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" style="background-color: #8BAD97; border-radius:20px; ">
            <ol class="breadcrumb" style="background-color: #8BAD97; ">
                <li style="background-color: #8BAD97; color:white; font-size:25px; font-weight:bold;">User Profile</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="/img/avatar.jpg" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{user.firstname}}</h4>
                                <p class="text-secondary mb-1">Staff Member</p>
                                {{!-- <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p> --}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                                 <a href="/staff/profile" style="color: grey ;float:left;  font-size:large" ><u> <i class="fa-solid fa-chevron-left"></i>Back</u></a>

                        <h3 class="text-center" style="padding-top: 15px;">CHANGE PASSWORD</h3>
                        <form action="" method="post">

                            <div class="form-group row">
                                <div class="col-sm-3">
                                    <label for="password">Current Password</label>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    <input type="password" name="password" class="form-control" value="" required>
                                </div>
                            </div>

                            <hr>
                            <div class="form-group row">

                                <div class="col-sm-3">

                                    <label for="password2">New Password</label>
                                </div>

                                <div class="col-sm-9 text-secondary">
                                    <input type="password" name="password2" class="form-control" value="" required>

                                </div>
                            </div>

                            <hr>
                            <div class="form-group row">

                                <div class="col-sm-3">

                                    <label for="password3">Confirm New Password</label>
                                </div>

                                <div class="col-sm-9 text-secondary">
                                    <input type="password" name="password3" class="form-control" value="" required>

                                </div>
                            </div>
                            <div style="padding-top:25px; padding-left:45px; float:right;">
                                <button type="submit" class="staffbtn">CHANGE</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>